<p>Dear {{ admin.first_name }} {{ admin.surname }},</p>
<p>As an Administrator of {{ member.name }}, please be aware that the following User accounts will expire in the next 30 days:</p>
<ul>
{% for user in users %}
    <li>{{ user.first_name }} {{ user.surname }} - {{ user.email }}</li>
{% endfor %}
</ul>
<p>Once an account has expired, a User will not be able to use any CloudCIX service, and they will not receive any notifications from CloudCIX.</p>
<p>In order to update the User please:</p>
<ul>
    <li>Log into the CloudCIX portal</li>
    <li>Click My Membership from the side bar</li>
    <li>Click Users</li>
    <li>Click Edit on the User/Users that need to be updated</li>
    <li>Go to Expiry Date and set for a date in the future</li>
    <li>Click Update in the top right hand corner</li>
    <li>The User is now successfully updated and no further action is required</li>
</ul>
<p>Please do not hesitate to contact us if you have any difficulty or questions. Our contact details can be found at https://www.cloudcix.com/#/support</p>
<p>noc@cix.ie</p>
